@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  color: #fff;
}

body {
  height: 100vh;
  display: flex;
  flex: 2;
  justify-content: space-evenly;
  align-items: center;
  background-color: #323232;
}

h1 {
  text-align: center;
  margin: 0 0.5em 0.5em;
  font-size: 3rem;
}

.underline {
  height: 6px;
  width: 50%;
  background: rgb(27, 202, 207);
  background: linear-gradient(
    135deg,
    rgba(27, 202, 207, 1) 30%,
    rgba(26, 200, 137, 1) 100%
  );
  margin: auto;
  border-radius: 3px;
}

form {
  margin-top: 1em;
}

input {
  height: 2.8em;
  padding: 0.4em;
  font-size: 1rem;
  color: #212121;
  margin: 0.8em 0;
  width: 100%;
  border-radius: 4px;
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 8px 0px rgb(27, 202, 207);
}

.submit {
  display: block;
  margin: 1em auto;
  padding: 0.8em;
  width: 10em;
  height: auto;
  font-weight: 600;
  color: #fff;
  border: 3px solid #323232;
  border-radius: 4px;
  background: rgb(27, 202, 207);
  background: linear-gradient(
    135deg,
    rgba(27, 202, 207, 1) 30%,
    rgba(26, 200, 137, 1) 100%
  );
  transition: border 0.5s;
}

.submit:hover {
  border: 3px solid rgb(27, 202, 207);
  background: none;
}
